__pycache__/
# == MUTT ==
# Exclude all
config/.mutt/*
# Only show configs
!config/.mutt/mutt*

# Don't show logfile
config/.i3/logfile

# I don't know why it appears and I'll figure it out at some point, but I don't want it
bin/bin
src/src

# == PRIVATE EXAMPLES ==
# Exclude all
private/*
# Allow EXAMPLES
!private/EXAMPLES

# !config/.mutt/accounts
# # Exclude all real accounts
# config/.mutt/accounts/*
# !config/.mutt/accounts/EXAMPLE
# #!.mutt/accounts/EXAMPLE/account_info
